<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huyong.dao.mapper.ArticleMapper">
    <sql id="base_column_list">
        a.`id` as `article_id`,a.`title` as `title`,a.`update_time` as article_update_time
        ,a.`user_id` as `user_id`,a.`kind_ids` as `kind_ids`,a.`visit_count` as visit_count
    </sql>
    <resultMap id="getArticlesMap" type="articleBO">
        <id property="id" column="article_id"></id>
        <result property="title" column="title"></result>
        <result property="updateTime" column="article_update_time"></result>
        <result property="content" column="content"></result>
        <result property="userId" column="user_id"></result>
        <result property="visitCount" column="visit_count"></result>
        <result property="kindIds" column="kind_ids"></result>
        <association property="user" column="user_id" javaType="userBO" resultMap="userMap"></association>
    </resultMap>
    <resultMap id="userMap" type="userBO">
        <id property="id" column="id"></id>
        <result property="userName" column="user_name"></result>
        <result property="gender" column="gender"></result>
        <result property="age" column="age"></result>
        <result property="school" column="school"></result>
        <result property="introduction" column="introduction"></result>
        <result property="work" column="work"></result>
        <result property="online" column="online"></result>
        <result property="picture" column="picture"></result>
    </resultMap>
    <select id="getArticles" resultMap="getArticlesMap">
        select <include refid="base_column_list"/>, SUBSTRING(a.`content`, 1, 30) as `content`, b.*
         from `article` a
          inner join `user` b on a.user_id = b.id
        <where>
            a.`status` = 0 and b.`status` = 0
            <if test="userId != null">
                and a.user_id = #{userId}
            </if>
            <if test="type != null">
                and a.`type` = #{type}
            </if>
            <if test="kindId != null">
                and find_in_set(#{kindId}, a.`kind_ids`)
            </if>
        </where>
        order by a.`update_time` desc
        limit #{offset}, #{pageNum}
    </select>
    <select id="detail" resultMap="getArticlesMap">
        select <include refid="base_column_list"/>, a.`content` as `content`, b.*
        from `article` a inner join `user` b
        on a.user_id = b.id
        <where>
            a.`status` = 0 and b.`status` = 0
            <if test="id != null">
                and a.id = #{id}
            </if>
        </where>
    </select>
    <select id="getArticlesByIds" resultMap="getArticlesMap">
        select <include refid="base_column_list"/>, b.*
        from `article` a
        inner join `user` b on a.user_id = b.id
        where a.`status` = 0 and b.`status` = 0 and a.`id` in
        <foreach collection="list" separator="," close=")" open="(" item="item">
            #{item}
        </foreach>
        order by a.`update_time` desc
    </select>
    <select id="getArticlesByUserIds" resultMap="getArticlesMap">
        select <include refid="base_column_list"/>, b.*
        from `article` a
        inner join `user` b on a.user_id = b.id
        where a.`status` = 0 and b.`status` = 0 and a.`user_id` in
        <foreach collection="list" separator="," close=")" open="(" item="item">
            #{item}
        </foreach>
        order by a.`update_time` desc
    </select>
    <select id="search" resultMap="getArticlesMap">
        select <include refid="base_column_list"/>, b.*
            from `article` a
        left join `user` b on a.user_id = b.id
        where (a.`content` like "%"#{key}"%" or a.`title` like "%"#{key}"%") and a.status = 0
        order by article_update_time
        limit #{offset},#{pageSize}
    </select>
    <select id="searchCount" resultType="Integer">
        select count(1)
        from `article`
        where `title` like "%"#{key}"%" and status = 0
    </select>
</mapper>
