<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huyong.dao.mapper.TopicMapper">

    <sql id="base_column_list">
        a.`id` as `topic_id`,a.`article_id` as `article_id`,a.`update_time` as topic_update_time
        ,a.`user_id` as `user_id`,a.`topic_id` as `common_id`,a.`parent_id` as parent_id,
        a.`type` as `type`,a.`content` as `content`,a.`floor` as floor,
    </sql>
    <select id="getReplies" resultMap="commonsMap">
        select <include refid="base_column_list"/> b.*
        from `topic` a
        inner join `user` b on a.user_id = b.id
          where a.`topic_id` in
        <foreach collection="commonsId" separator="," close=")" open="(" item="item">
            #{item}
        </foreach>
    </select>
    <select id="getCommonsPageWithUser" resultMap="commonsMap">
        select <include refid="base_column_list"/> b.*
        from `topic` a
        inner join `user` b on a.user_id = b.id
        <where>
            a.`status` = 0 and b.`status` = 0
            <if test="condition.type != null">
                and a.`type` = #{condition.type}
            </if>
            <if test="condition.articleId != null">
                and a.`article_id` = #{condition.articleId}
            </if>
            <if test="condition.userId != null">
                and a.`user_id` = #{condition.userId}
            </if>
        </where>
        order by a.`update_time` desc
        limit #{offset}, #{pageSize}
    </select>
    <resultMap id="commonsMap" type="topicBO">
        <id property="id" column="topic_id"></id>
        <result property="articleId" column="article_id"></result>
        <result property="updateTime" column="topic_update_time"></result>
        <result property="content" column="content"></result>
        <result property="userId" column="user_id"></result>
        <result property="topicId" column="common_id"></result>
        <result property="floor" column="floor"></result>
        <result property="type" column="type"></result>
        <result property="parentId" column="parent_id"></result>
        <association property="user" column="user_id" javaType="userBO" resultMap="userMap"></association>
    </resultMap>
    <resultMap id="userMap" type="userBO">
        <id property="id" column="id"></id>
        <result property="userName" column="user_name"></result>
        <result property="gender" column="gender"></result>
        <result property="age" column="age"></result>
        <result property="school" column="school"></result>
        <result property="introduction" column="introduction"></result>
        <result property="work" column="work"></result>
        <result property="online" column="online"></result>
        <result property="picture" column="picture"></result>
    </resultMap>
    <select id="getTopicCount" resultType="Long">
        SELECT
            sum( num )
        FROM
            (
        SELECT
            count( 1 ) AS num
        FROM
            `topic`
        WHERE
            `status` = 0
            AND `type` = 0
            AND article_id = #{id} UNION
        SELECT
            count( 1 ) AS num
        FROM
            `topic` a
            INNER JOIN `topic` b ON a.`topic_id` = b.`id`
            AND a.`article_id` = b.`article_id`
            AND a.`status` = b.`status`
        WHERE
            a.STATUS = 0
            AND a.article_id = #{id}
            ) AS temp
    </select>
</mapper>
