<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huyong.dao.mapper.UserMapper">
    <sql id="Base_Can_See">
        id,user_name,email,gender,age,school,address,picture,`work`
    </sql>
    <select id="getListUserByIds" resultType="userBO">
        select <include refid="Base_Can_See"></include> from `user` where id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="search" resultType="userBO">
        select id,picture,`work`,`user_name`,`school`,`gender`,`age`,`address` from `user` where `user_name` like "%"#{key}"%" or `school` like "%"#{key}"%"
        order by create_time
        limit #{offset}, #{pageSize}
    </select>
    <select id="searchCount" resultType="integer">
        select count(1) from `user` where `user_name` like "%"#{key}"%"
    </select>
    <update id="batchRemove">
        update `user` set status = 1 where id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
    <select id="userList" resultType="userBO">
        select * from `user`
        <where>
            `status` = 0
            <if test="name != null and name != ''">
               and `user_name` like "%"#{name}"%"
            </if>
            <if test="gender != null">
                and `gender` = #{gender}
            </if>
            <if test="roles != null">
                and `role` in
                <foreach collection="roles" separator="," close=")" item="item" open="(">
                    #{item}
                </foreach>
            </if>
            <if test="school != null and school != ''">
                and `school` like "%"#{school}"%"
            </if>
            <if test="email != null and email != ''">
                and `email` like "%"#{email}"%"
            </if>
            <if test="online != null">
                and `online` = #{online}
            </if>
        </where>
    <if test="offset != null and pageSize != null">
        limit #{offset}, #{pageSize}
    </if>
    </select>
    <select id="userListCount" resultType="long">
        select count(1) from `user`
        <where>
            `status` = 0
            <if test="name != null and name != ''">
              and `user_name` like "%"#{name}"%"
            </if>
            <if test="gender != null">
                and `gender` = #{gender}
            </if>
            <if test="roles != null">
                and `role` in
                <foreach collection="roles" separator="," close=")" item="item" open="(">
                    #{item}
                </foreach>
            </if>
            <if test="school != null and school != ''">
                and `school` like "%"#{school}"%"
            </if>
            <if test="email != null and email != ''">
                and `email` like "%"#{email}"%"
            </if>
            <if test="online != null">
                and `online` = #{online}
            </if>
        </where>
    </select>
</mapper>
